@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.hero_img {
  background-image:url('../public/images/Bg.png');
  background-position: center;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
}


.whiteCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  position: absolute;
}

.navyCircle {
  width: 113px;
  height: 113px;
  border-radius: 50%;
  background-color: #282866;
  display: inline-block;
  position: absolute;
}