@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    overflow-x: hidden;
}

@media (min-width: 768px) { 
  .hero_img {
    background-image:url('../public/images/Bgdesktop.png');
    background-position: center;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #faq {
    background-image:url('../public/images/faqDektop.png');
    background-position: center;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: cover;
  }
 }

 @media (max-width: 768px) { 
  .hero_img {
    background-image:url('../public/images/Bg.png');
    background-position: center;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #faq {
    background: #F4F7FC;
    background-position: center;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: cover;
  }
 }

.whiteCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  position: absolute;
}

.navyCircle {
  width: 113px;
  height: 113px;
  border-radius: 50%;
  background-color: #282866;
  display: inline-block;
  position: absolute;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.lp-pom-button {
  overflow: hidden;
}

.lp-pom-button::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #FFF;
  background-repeat: no-repeat;
  animation: rotate 4s linear infinite;
}

.lp-pom-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  top: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: linear-gradient(90deg, rgb(77, 77, 205) 0%, rgb(41, 41, 104) 100%) !important;
  border-radius: 7px;
}

.btn-bordered::after {
  left: 3px;
  top: 3px;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
}

.btn-orange::after {
  background: linear-gradient(90deg, rgb(208, 151, 125) 0%, rgb(220, 173, 152) 100%) !important;
}

/* carousel items */
.container_carousel {
  border: 2px solid grey;
  max-width: 402px;
  margin-top: 0px;
  padding-top: 0px;
  border-radius: 10px;
  padding-bottom: 10px;
  width: 341px;
  display: flex;
  justify-content: center;
}
  
.image {
  width: 412px;
}

.contain {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.item {
  align-items: center;
  display: flex;
  justify-content: center;
}

.owl-carousel.owl-drag .owl-item {
  display: flex;
  justify-content: center;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block !important;
}

.flex_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 412px;
  position: relative;
}

.logo {
  width: 49px !important;
  margin: auto;
  position: absolute;
  bottom: 70px;
  left: 145px;
}

.container_carousel {
  border: unset !important;
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px !important;
  height: 12px !important;
  border-radius: 0% !important;
  background-color: #AAAEBC !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #2116A5 !important;
}

.owl-carousel .owl-nav.disabled, .owl-theme .owl-nav {
  position: absolute;
  top: 0;
  right: 30px;
}

.owl-carousel .owl-nav button.owl-prev {
  width: 71px;
  height: 38px;
  background: #4C6FDB
}

.owl-carousel .owl-nav button.owl-next {
  width: 71px;
  height: 38px;
  background: #2116A5;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  color: #fff !important;
}
  
  .logo {
  	bottom: 145px;
  }
  
  .review {
  	transform: translateY(25px);
    padding-right: 10px;
    padding-left: 10px;
  }
  
.owl-item {
  	height: 530px;
  }
  
  .owl-prev, .owl-next {
    display: none !important;
  }
  
  .review-container {
  	height: 170px;
    background-color: #F4F7FC;
    border-radius: 10px;
  }

  /* Whatsapp floating button */

.float {
  position:fixed;
	bottom: 20px;
	right: 20px;
  z-index:100;
  transition: all .2s ease-in-out;
}

.flex_whatsapp_img {
  display: flex;
  position: absolute;
  top: 0;
}

.whatsapp_img {
  width: 100px;
}

.circle {
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: #4cb050;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 5px;
  animation-name: circle;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.circle1 {
  left: 4px;
}

.circle2 {
  left: 18px;
}

.circle3 {
  left: 32px;
}

/* ************** */

@keyframes circle {
   0% {
    top: -10px;
  }
  8%{
    top: -8px
  }
  100% {
    top: -8px;
  }
}

.circle1 {
  animation-duration: 1.1s;
}

.circle2 {
  animation-duration: 1s;
}

.circle3 {
  animation-duration: 0.9s;
}


  .my-float {
    margin-top:16px;
  }
  
  #demo b {
  	font-size: 30px
  }

  #lp-pom-form-27 {z-index:999;}
  
  div.lp-pom-root .lp-pom-text a, .cke-text a {
    text-decoration: none;
  }
